@import './reset.css';
@import './responsiveness.css';
@import './fonts.css';

.flag {
  display: flex;
  justify-content: center;
  margin: 5vw;
}

.flag:first-of-type {
  margin-top: 2vw;
}

.flag:last-of-type {
  margin-top: 6vw;
}
